.context-menu-clicked-element {
  border: 10px solid #FF0000;
  background-color: #FF0000;
}

.__smart-hide-hidden-element {
  display: none !important;
}

#__smart-hide-menu {
  min-width: 250px;
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999999;
  border: 1px solid #666;
  border-radius: 5px;
}
#__smart-hide-menu .__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #666;
  cursor: pointer;
}
#__smart-hide-menu .__title h1 {
  text-align: left;
  font-size: 25px;
  margin: 0;
  padding: 10px;
  color: white;
  flex: 1;
}
#__smart-hide-menu #__btn-close {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
  padding-right: 10px;
}
#__smart-hide-menu #__btn-close svg {
  height: 26px;;
}
#__smart-hide-menu .__content {
  padding: 10px;
  display: flex;
  flex-direction: column;
}
#__smart-hide-menu .__content .__inputs {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  color: black;
}
#__smart-hide-menu .__content .__inputs .__top-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
#__smart-hide-menu .__content .__inputs .__top-btns > div {
  justify-content: center;
  padding: 5px;
  margin: 0 5px;
  display: flex;
  align-items: center;
  cursor: pointer;
  border: solid 1px #666;
  border-radius: 3px;
  color: black;
}
#__smart-hide-menu .__content .__inputs .__top-btns #__btn-undo svg {
  height: 16px;
  margin-right: 5px;
}
#__smart-hide-menu .__content .__inputs .__input-checkbox {
  display: flex;
  align-items: center;
}

#__smart-hide-menu .__content .__inputs .__input-checkbox input[type="checkbox"] {
  display: none;
}
#__smart-hide-menu .__content .__inputs .__input-checkbox input[type="checkbox"] + label {
  display: flex;
  align-items: center;
  position: relative;
  font-size: 14px;
  cursor: pointer;
  line-height: 1;
}
#__smart-hide-menu .__content .__inputs .__input-checkbox input[type="checkbox"] + label::before {
  content: '';
  width: 16px;
  height: 16px;
  border: 1px solid #000;
  margin-right: 5px;
  background-color: white;
  height: 16px;
  width: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#__smart-hide-menu .__content .__inputs .__input-checkbox input[type="checkbox"]:checked + label::before {
  content: '✔';
}

#__smart-hide-menu .__content #__btn-hide-element {
  display: flex;
  justify-content: center;
  padding: 5px;
  background-color: #666;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
}
#__smart-hide-menu .__content #__btn-hide-element:hover {
  opacity: 0.8;
}